@use '@angular/material' as mat;

// Custom theme
$angular-material-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

html {
  @include mat.all-component-themes($angular-material-theme);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
